{% extends 'BasicCmsBundle:Default:layout.html.twig' %}
{% block mainmenu %}
    {{ render(controller('BasicCmsBundle:Default:menu')) }}
{% endblock %}
{% block title %}Редактирование страницы создания файлов{% endblock %}
{% block breadcrumbs %}
    <a href="{{path('basic_cms_index')}}" class="main">Главная</a>
    <a href="{{path('files_files_file_list')}}">Файлы</a>
    <span>Редактирование страницы создания файлов &laquo;{{createpage['title']['default']}}&raquo;</span>
{% endblock %}
{% block content %}
<div id="tabsButtons">
    <a href="#" onclick="return false;" id="tab1" {% if (activetab == 1) %}class="active"{% endif %}>Основные данные</a>
    <a href="#" onclick="return false;" id="tab2" {% if (activetab == 2) %}class="active"{% endif %}>Страница</a>
    <a href="#" onclick="return false;" id="tab3" {% if (activetab == 3) %}class="active"{% endif %}>Параметры нового файла</a>
</div>
<form action="{{path('files_files_createpage_edit')}}?id={{id}}" method="post">
<div id="tabsContent">
        <div id="con_tab1" {% if (activetab == 1) %}class="active"{% endif %}>
            <div class="saveButtons">
                {% if (app.user.checkAccess('file_createpage') == 1) %}<button type="submit">Сохранить</button>{% endif %}
                {% if (app.user.checkAccess('file_list') == 1) or (app.user.checkAccess('file_createpage') == 1) %}<a class="button" href="{{path('files_files_file_list')}}">Отмена</a>{% endif %}
            </div>
            <table class="cfgTable">
                <tr>
                    <td colspan="2"><label><input type="checkbox" name="createpage[enabled]" value="1" {% if (createpage['enabled'] != 0) %}checked="checked"{% endif %} />Включено</label><span class="helpContainerButton" data-id="enabled">?</span></td>
                    <td class="cfgError">{{createpageerror['enabled']}}</td>
                </tr>
                <tr>
                    <td>Название<span class="helpContainerButton" data-id="title">?</span></td>
                    <td><input type="text" name="createpage[title][default]" value="{{createpage['title']['default']}}" /></td>
                    <td class="cfgError">{{createpageerror['title']['default']}}</td>
                </tr>
                {% for locale in locales %}
                <tr>
                    <td>Название ({{locale['fullName']}})</td>
                    <td><input type="text" name="createpage[title][{{locale['shortName']}}]" value="{{createpage['title'][locale['shortName']]}}" /></td>
                    <td class="cfgError">{{createpageerror['title'][locale['shortName']]}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="2"><label><input type="checkbox" name="createpage[captchaEnabled]" value="1" {% if (createpage['captchaEnabled'] != 0) %}checked="checked"{% endif %} />Включить защиту капчей</label><span class="helpContainerButton" data-id="captchaEnabled">?</span></td>
                    <td class="cfgError">{{createpageerror['captchaEnabled']}}</td>
                </tr>
                <tr>
                    <td colspan="2"><label><input type="checkbox" name="createpage[onlyAutorized]" value="1" {% if (createpage['onlyAutorized'] != 0) %}checked="checked"{% endif %} />Разрешать создавать файлы только авторизованным пользователям</label><span class="helpContainerButton" data-id="onlyAutorized">?</span></td>
                    <td class="cfgError">{{createpageerror['onlyAutorized']}}</td>
                </tr>
            </table>
        </div>
        <div id="con_tab2" {% if (activetab == 2) %}class="active"{% endif %}>
            <div class="saveButtons">
                {% if (app.user.checkAccess('file_createpage') == 1) %}<button type="submit">Сохранить</button>{% endif %}
                {% if (app.user.checkAccess('file_list') == 1) or (app.user.checkAccess('file_createpage') == 1) %}<a class="button" href="{{path('files_files_file_list')}}">Отмена</a>{% endif %}
            </div>
            <table class="cfgTable">
                <tr>
                    <td>URL страницы<span class="helpContainerButton" data-id="seopageUrl">?</span></td>
                    <td><input type="text" name="page[url]" value="{{page['url']}}" /></td>
                    <td class="cfgError">{{pageerror['url']}}</td>
                </tr>
                <tr>
                    <td>Локаль страницы<span class="helpContainerButton" data-id="seopageLocale">?</span></td>
                    <td>
                        <select name="page[locale]">
                            <option value="" {% if (page['locale'] == '') %}selected="selected"{% endif %}>Для всех</option>
                            {% for locale in locales %}
                                <option value="{{locale['shortName']}}" {% if (page['locale'] == locale['shortName']) %}selected="selected"{% endif %}>{{locale['fullName']}} ({{locale['shortName']}})</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td class="cfgError">{{pageerror['locale']}}</td>
                </tr>
                <tr>
                    <td>Основной шаблон<span class="helpContainerButton" data-id="seopageLayout">?</span></td>
                    <td>
                        <select name="page[layout]">
                            <option value="" {% if (page['layout'] == '') %}selected="selected"{% endif %}>По умолчанию</option>
                            {% for layoutkey,layout in layouts %}
                                <option value="{{layoutkey}}" {% if (page['layout'] == layoutkey) %}selected="selected"{% endif %}>{{layout}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td class="cfgError">{{pageerror['layout']}}</td>
                </tr>
                <tr>
                    <td>Шаблон контента<span class="helpContainerButton" data-id="seopageTemplate">?</span></td>
                    <td>
                        <select name="page[template]">
                            <option value="" {% if (page['template'] == '') %}selected="selected"{% endif %}>По умолчанию</option>
                            {% for templatekey,template in templates %}
                                <option value="{{templatekey}}" {% if (page['template'] == templatekey) %}selected="selected"{% endif %}>{{template}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td class="cfgError">{{pageerror['template']}}</td>
                </tr>
            {% if (modules|length > 0) %}
                <tr>
                    <td>Включенные модули<span class="helpContainerButton" data-id="seopageModules">?</span></td>
                    <td>
                      {% for module in modules %}
                        <label><input type="checkbox" name="page[modules][]" value="{{module['id']}}" {% if (module['id'] in page['modules']) %}checked="checked"{% endif %} />{{module['name']}}</label><br />
                      {% endfor %}
                    </td>
                    <td class="cfgError">{{pageerror['modules']}}</td>
                </tr>
            {% endif %}
                <tr>
                    <td>Ограничение доступа к странице<span class="helpContainerButton" data-id="seopageAccess">?</span></td>
                    <td>
                        <select name="page[accessOn]" onchange="if ($(this).val() == 0) $('#accessRoleWrap').hide(); else $('#accessRoleWrap').show();">
                            <option value="0" {% if (page['accessOn'] == 0) %}selected="selected"{% endif %}>Доступна всем пользователям</option>
                            <option value="1" {% if (page['accessOn'] != 0) %}selected="selected"{% endif %}>Доступна следующим ролям</option>
                        </select>
                    </td>
                    <td class="cfgError">{{pageerror['accessOn']}}</td>
                </tr>
                <tr id="accessRoleWrap" {% if (page['accessOn'] == 0) %}style="display:none;"{% endif %}>
                    <td></td>
                    <td>
                        {% for role in roles %}
                            <label><input type="checkbox" name="page[access][]" value="{{role['id']}}" {% if (role['id'] in page['access']) %}checked="checked"{% endif %} />{{role['name']}}</label><br />
                        {% endfor %}
                    </td>
                    <td class="cfgError">{{pageerror['access']}}</td>
                </tr>
            </table>
        </div>
        <div id="con_tab3" {% if (activetab == 3) %}class="active"{% endif %}>
            <div class="saveButtons">
                {% if (app.user.checkAccess('file_createpage') == 1) %}<button type="submit">Сохранить</button>{% endif %}
                {% if (app.user.checkAccess('file_list') == 1) or (app.user.checkAccess('file_createpage') == 1) %}<a class="button" href="{{path('files_files_file_list')}}">Отмена</a>{% endif %}
            </div>
            <table class="cfgTable">
                <tr>
                    <td colspan="2"><label><input type="checkbox" name="createpage[fileEnabled]" value="1" {% if (createpage['fileEnabled'] != 0) %}checked="checked"{% endif %} />Опубликовать новый файл</label><span class="helpContainerButton" data-id="enabledNew">?</span></td>
                    <td class="cfgError">{{createpageerror['fileEnabled']}}</td>
                </tr>
                <tr>
                    <td colspan="2"><label><input type="checkbox" name="createpage[fileOnlyAutorized]" value="1" {% if (createpage['fileOnlyAutorized'] != 0) %}checked="checked"{% endif %} />Скачивание доступно только авторизованным пользователям</label><span class="helpContainerButton" data-id="onlyAutorizedNew">?</span></td>
                    <td class="cfgError">{{createpageerror['fileOnlyAutorized']}}</td>
                </tr>
                <tr>
                    <td>Выбор категории для нового файла<span class="helpContainerButton" data-id="categoryNew">?</span></td>
                    <td>
                        <select name="createpage[categoryMode]" onchange="if ($(this).val() == 2) $('#categorySelectWrap').show(); else $('#categorySelectWrap').hide();">
                            <option value="0" {% if (createpage['categoryMode'] == 0) %}selected="selected"{% endif %}>Не присоединять к категории</option>
                            <option value="1" {% if (createpage['categoryMode'] == 1) %}selected="selected"{% endif %}>Принимать категорию через параметр categoryId</option>
                            <option value="2" {% if (createpage['categoryMode'] == 2) %}selected="selected"{% endif %}>Задать фиксированную категорию</option>
                        </select>
                    </td>
                    <td class="cfgError">{{createpageerror['categoryMode']}}</td>
                </tr>
                <tr id="categorySelectWrap" {% if (createpage['categoryMode'] != 2) %}style="display:none;"{% endif %}>
                    <td></td>
                    <td>
                        <select name="createpage[categoryId]" class="quickSearch uniformOff">
                        {% for category in taxonomyinfo %}
                            <option value="{{category['id']}}" {% if createpage['categoryId'] == category['id'] %}selected="selected"{% endif %} {% if (category['enabled'] == 0) or (category['enableAdd'] == 0) %}disabled="disabled"{% endif %} >{% if category['nesting'] > 0 %}{% for i in 1..category['nesting'] %}&#9658; {% endfor %}{% endif %}{{category['title']}}</option>
                        {% endfor %}
                        </select>
                    </td>
                    <td class="cfgError">{{createpageerror['categoryId']}}</td>
                </tr>
                <tr>
                    <td colspan="2"><label><input type="checkbox" name="createpage[seopageEnable]" value="1" {% if (createpage['seopageEnable'] != 0) %}checked="checked"{% endif %} />Создавать страницу просмотра для нового файла</label><span class="helpContainerButton" data-id="seopageEnabledNew">?</span></td>
                    <td class="cfgError">{{createpageerror['seopageEnable']}}</td>
                </tr>
                <tr>
                    <td>URL страницы<span class="helpContainerButton" data-id="seopageUrlNew">?</span></td>
                    <td><input type="text" name="createpage[seopageUrl]" value="{{createpage['seopageUrl']}}" /></td>
                    <td class="cfgError">{{createpageerror['seopageUrl']}}</td>
                </tr>
                <tr><td colspan="3"><p class="miniNote">Доступны подстановки //id//, //title//</p></td></tr>
                <tr>
                    <td>Локаль страницы<span class="helpContainerButton" data-id="seopageLocaleNew">?</span></td>
                    <td>
                        <select name="regpage[seopageLocale]">
                            <option value="" {% if (createpage['seopageLocale'] == '') %}selected="selected"{% endif %}>Для всех</option>
                            {% for locale in locales %}
                                <option value="{{locale['shortName']}}" {% if (createpage['seopageLocale'] == locale['shortName']) %}selected="selected"{% endif %}>{{locale['fullName']}} ({{locale['shortName']}})</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td class="cfgError">{{createpageerror['seopageLocale']}}</td>
                </tr>
                <tr>
                    <td>Основной шаблон<span class="helpContainerButton" data-id="seopageLayoutNew">?</span></td>
                    <td>
                        <select name="createpage[seopageLayout]">
                            <option value="" {% if (createpage['seopageLayout'] == '') %}selected="selected"{% endif %}>По умолчанию</option>
                            {% for layoutkey,layout in layouts %}
                                <option value="{{layoutkey}}" {% if (createpage['seopageLayout'] == layoutkey) %}selected="selected"{% endif %}>{{layout}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td class="cfgError">{{createpageerror['seopageLayout']}}</td>
                </tr>
                <tr>
                    <td>Шаблон контента<span class="helpContainerButton" data-id="seopageTemplateNew">?</span></td>
                    <td>
                        <select name="createpage[seopageTemplate]">
                            <option value="" {% if (createpage['seopageTemplate'] == '') %}selected="selected"{% endif %}>По умолчанию</option>
                            {% for templatekey,template in filetemplates %}
                                <option value="{{templatekey}}" {% if (createpage['seopageTemplate'] == templatekey) %}selected="selected"{% endif %}>{{template}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td class="cfgError">{{createpageerror['seopageTemplate']}}</td>
                </tr>
            {% if (modules|length > 0) %}
                <tr>
                    <td>Включенные модули<span class="helpContainerButton" data-id="seopageModulesNew">?</span></td>
                    <td>
                      {% for module in modules %}
                        <label><input type="checkbox" name="createpage[seopageModules][]" value="{{module['id']}}" {% if (module['id'] in createpage['seopageModules']) %}checked="checked"{% endif %} />{{module['name']}}</label><br />
                      {% endfor %}
                    </td>
                    <td class="cfgError">{{createpageerror['seopageModules']}}</td>
                </tr>
            {% endif %}
                <tr>
                    <td>Ограничение доступа к странице<span class="helpContainerButton" data-id="seopageAccessNew">?</span></td>
                    <td>
                        <select name="createpage[seopageAccessOn]" onchange="if ($(this).val() == 0) $('#accessUserRoleWrap').hide(); else $('#accessUserRoleWrap').show();">
                            <option value="0" {% if (createpage['seopageAccessOn'] == 0) %}selected="selected"{% endif %}>Доступна всем пользователям</option>
                            <option value="1" {% if (createpage['seopageAccessOn'] != 0) %}selected="selected"{% endif %}>Доступна следующим ролям</option>
                        </select>
                    </td>
                    <td class="cfgError">{{createpageerror['seopageAccessOn']}}</td>
                </tr>
                <tr id="accessUserRoleWrap" {% if (createpage['seopageAccessOn'] == 0) %}style="display:none;"{% endif %}>
                    <td></td>
                    <td>
                        {% for role in roles %}
                            <label><input type="checkbox" name="createpage[seopageAccess][]" value="{{role['id']}}" {% if (role['id'] in createpage['seopageAccess']) %}checked="checked"{% endif %} />{{role['name']}}</label><br />
                        {% endfor %}
                    </td>
                    <td class="cfgError">{{createpageerror['seopageAccess']}}</td>
                </tr>
            </table>
        </div>
</div>​
</form>
<div id="helpContainer">
    <div id="helpContainer-enabled">Позволяет включить или выключить страницу создания файлов.</div>
    <div id="helpContainer-title">Задаёт название страницы создания файлов.</div>
    <div id="helpContainer-captchaEnabled">Включает защиту капчей для создания нового файла, что позволяет обезопасить сайт от роботов (спам-роботов или роботов для перебора паролей).</div>
    <div id="helpContainer-onlyAutorized">При включенном значении только авторизованные пользователи смогут создавать файлы через данную страницу.</div>
    <div id="helpContainer-seopageUrl">URL-адрес задаёт адрес страницы сайта. Указывается только часть после слеша (например указывается index.html, тогда как полный адрес страницы будет http://имя сайта.доменная зона/index.html). Должен содержать от 1 до 90 латинских букв, цифр и дефисов, и от 1 до 7 латинских букв или цифр после точки. Начинаться должен обязательно с буквы. Если оставить поле пустым, адрес присвоится автоматически.</div>
    <div id="helpContainer-seopageLocale">Позволяет ограничить доступ к странице определённым языковым группам (локалям). См. раздел руководства <a href="{{path('basic_cms_help')}}?page=basiccms3">Локализация</a>.</div>
    <div id="helpContainer-seopageLayout">Задаёт основной шаблон страницы сайта. См. раздел руководства <a href="{{path('basic_cms_help')}}?page=basiccms2">Страницы сайта и система шаблонов</a>.</div>
    <div id="helpContainer-seopageTemplate">Задаёт шаблон для контента. См. раздел руководства <a href="{{path('basic_cms_help')}}?page=basiccms2">Страницы сайта и система шаблонов</a>.</div>
    <div id="helpContainer-seopageModules">Задаёт список модулей, которые будут отображаться на странице сайта. См. раздел руководства <a href="{{path('basic_cms_help')}}?page=basiccms2">Страницы сайта и система шаблонов</a>.</div>
    <div id="helpContainer-seopageAccess">Позволяет ограничить доступ к странице пользователям с определёнными ролями.</div>
    <div id="helpContainer-enabledNew">Позволяет включить или выключить создаваемый файл.</div>
    <div id="helpContainer-onlyAutorizedNew">При включенном значении только авторизованные пользователи смогут скачивать создаваемые файлы.</div>
    <div id="helpContainer-categoryNew">Позволяет задать категорию, к которой будет принадлежать создаваемый файл.</div>
    <div id="helpContainer-seopageEnabledNew">При включении создаёт отдельную страницу сайта для данного объекта.</div>
    <div id="helpContainer-seopageUrlNew">URL-адрес задаёт адрес страницы сайта. Указывается только часть после слеша (например указывается index.html, тогда как полный адрес страницы будет http://имя сайта.доменная зона/index.html). Должен содержать от 1 до 90 латинских букв, цифр и дефисов, и от 1 до 7 латинских букв или цифр после точки. Начинаться должен обязательно с буквы. Если оставить поле пустым, адрес присвоится автоматически.</div>
    <div id="helpContainer-seopageLocaleNew">Позволяет ограничить доступ к странице определённым языковым группам (локалям). См. раздел руководства <a href="{{path('basic_cms_help')}}?page=basiccms3">Локализация</a>.</div>
    <div id="helpContainer-seopageLayoutNew">Задаёт основной шаблон страницы сайта. См. раздел руководства <a href="{{path('basic_cms_help')}}?page=basiccms2">Страницы сайта и система шаблонов</a>.</div>
    <div id="helpContainer-seopageTemplateNew">Задаёт шаблон для контента. См. раздел руководства <a href="{{path('basic_cms_help')}}?page=basiccms2">Страницы сайта и система шаблонов</a>.</div>
    <div id="helpContainer-seopageModulesNew">Задаёт список модулей, которые будут отображаться на странице сайта. См. раздел руководства <a href="{{path('basic_cms_help')}}?page=basiccms2">Страницы сайта и система шаблонов</a>.</div>
    <div id="helpContainer-seopageAccessNew">Позволяет ограничить доступ к странице пользователям с определёнными ролями.</div>
</div>
{% endblock %}       



