        {% if (app.user.checkAccess('project_editall') == 1) %}<a class="button" href="#" id="unblockedProject0">Опубликовать</a>{% endif %}
        {% if (app.user.checkAccess('project_editall') == 1) %}<a class="button" href="#" id="blockedProject0">Скрыть</a>{% endif %}
        {% if (app.user.checkAccess('project_editall') == 1) %}<a class="button" href="#" id="deleteProject0">Удалить выбранные</a>{% endif %}
        {% if (app.user.checkAccess('project_new') == 1) %}<a href="{{path('extended_project_create')}}" class="button">Создать мастерскую</a>{% endif %}
        <div class="goToRight">
        <form id="searchForm0">
            <input type="hidden" name="tab" value="0" />
            {% if taxonomyenabled != 0 %}
            <select name="taxonomy0">
                <option value="0" {% if taxonomy0 == 0 %}selected="selected"{% endif %}>Все категории</option>
                {% for category in taxonomyinfo0['categories'] %}
                    <option value="{{category['id']}}" {% if taxonomy0 == category['id'] %}selected="selected"{% endif %}>{% if category['nesting'] > 0 %}{% for i in 1..category['nesting'] %}&#9658;{% endfor %}{% endif %}{{category['title']}}</option>
                {% endfor %}
            </select>
            {% endif %}
            <input type="text" name="search0" value="{{search0}}" />
            <input type="submit" value="Найти" />
        </form>
        </div>
        <table class="tableContent" id="projectList0">
            <tr>
                <th><input type="checkbox" name="idall" value="1" onclick="checkAll(this)" /></th>
                <th>
                    {% if (sort0 == 0) %}
                        <a href="?tab=0&sort0=1">Заголовок &#9650;</a>
                    {% else %}
                    {% if (sort0 == 1) %}
                        <a href="?tab=0&sort0=0">Заголовок &#9660;</a>
                    {% else %}
                        <a href="?tab=0&sort0=0">Заголовок</a>
                    {% endif%}
                    {% endif%}
                </th>
                <th>
                    {% if (sort0 == 2) %}
                        <a href="?tab=0&sort0=3">Опубликован &#9650;</a>
                    {% else %}
                    {% if (sort0 == 3) %}
                        <a href="?tab=0&sort0=2">Опубликован &#9660;</a>
                    {% else %}
                        <a href="?tab=0&sort0=2">Опубликован</a>
                    {% endif%}
                    {% endif%}
                </th>
                <th>
                    {% if (sort0 == 4) %}
                        <a href="?tab=0&sort0=5">Создан (изменён) &#9650;</a>
                    {% else %}
                    {% if (sort0 == 5) %}
                        <a href="?tab=0&sort0=4">Создан (изменён) &#9660;</a>
                    {% else %}
                        <a href="?tab=0&sort0=4">Создан (изменён)</a>
                    {% endif%}
                    {% endif%}
                </th>
                <th>
                    {% if (sort0 == 6) %}
                        <a href="?tab=0&sort0=7">Автор &#9650;</a>
                    {% else %}
                    {% if (sort0 == 7) %}
                        <a href="?tab=0&sort0=6">Автор &#9660;</a>
                    {% else %}
                        <a href="?tab=0&sort0=6">Автор</a>
                    {% endif%}
                    {% endif%}
                </th>
                <th>
                    {% if (sort0 == 6) %}
                        <a href="?tab=0&sort0=9">Кол-во просмотров &#9650;</a>
                    {% else %}
                    {% if (sort0 == 7) %}
                        <a href="?tab=0&sort0=8">Кол-во просмотров &#9660;</a>
                    {% else %}
                        <a href="?tab=0&sort0=8">Кол-во просмотров</a>
                    {% endif%}
                    {% endif%}
                </th>
                {% if taxonomyenabled != 0 %}
                <th>
                    Категории
                </th>
                {% endif %}
                <th>
                    Кол-во документов
                </th>
            </tr>
            {% for project in projects0 %}
            <tr>
                <td><input type="checkbox" name="check[{{project.id}}]" class="check" value="1"></td>
                <td><a href="{{path('extended_project_edit')}}?id={{project.id}}">{{project.title}}</a>{% if (errors0[project.id] is defined) %}<p class="error">{{errors0[project.id]}}</p>{% endif %}</td>
                <td>{{project.enabled != 0 ? 'Да' : 'Нет'}}</td>
                <td>{{project.createDate | date('d.m.Y G:i')}}{% if (project.modifyDate != project.createDate) %} ({{project.modifyDate | date('d.m.Y G:i')}}){% endif %}</td>
                <td>{{project.fullName}}</td>
                <td>{{project.viewCount}}</td>
                {% if taxonomyenabled != 0 %}
                <td>
                    {% if (taxonomyinfo0['links'][project.id] | length) == 1 %}
                        {% for taxid, taxtitle in taxonomyinfo0['links'][project.id] %}
                        <a href="{{path('basic_cms_taxonomy_catedit')}}?id={{taxid}}">{{taxtitle}}</a>
                        {% endfor %}
                    {% endif %}
                    {% if (taxonomyinfo0['links'][project.id] | length) > 1 %}
                        {% for taxid, taxtitle in taxonomyinfo0['links'][project.id] %}
                            {% if loop.index0 == 0 %}
                            <a href="{{path('basic_cms_taxonomy_catedit')}}?id={{taxid}}">{{taxtitle}}</a><p class="hintLabel"><span class="miniNote">и еще {{(taxonomyinfo0['links'][project.id] | length) - 1}} категорий</span><span class="hintWrap">
                            {% else %}
                            {% if loop.index0 != 1 %}, {% endif %}<a href="{{path('basic_cms_taxonomy_catedit')}}?id={{taxid}}">{{taxtitle}}</a>
                            {% endif %}
                        {% endfor %}
                        </span></p>
                    {% endif %}
                </td>
                {% endif %}
                <td><a href="{{path('extended_project_documents_list')}}?id={{project.id}}">{{project.documents}}</a></td>
            </tr>
            {% endfor %}
        </table>
        {% if (pagecount0 > 1) %}
            {% set to = page0 + 1 %}
            {% set from = page0 - 1 %}
            {% if (to >= pagecount0) %}
                {% set to = pagecount0 - 1 %}
            {% endif %}
            {% if (from < 0) %}
                {% set from = 0 %}
            {% endif %}
            {% if (from > 0) %}
                <a class="button" href="?tab=0&page0=0">1</a>
            {% endif %}
            {% if (from > 1) %}
                ...
            {% endif %}
            {% for i in from..to %}
                {% if i == page0 %}
                <input type="button" onclick="return false;" disabled="disabled" value="{{i+1}}" />
                {#<a class="button" href="#" onclick="return false;">[]</a>#}
                {% else %}
                <a class="button" href="?tab=0&page0={{i}}">{{i+1}}</a>
                {% endif %}
            {% endfor %}
            {% if (to < (pagecount0 - 2)) %}
            ...
            {% endif %}
            {% if (to < (pagecount0 - 1)) %}
                <a class="button" href="?tab=0&page0={{pagecount0 - 1}}">{{pagecount0}}</a>
            {% endif %}
        {% endif %}
        <script type="text/javascript">
            $('#blockedProject0').click(function () {ajaxAction('{{path('extended_project_ajax')}}?tab=0', 'blocked', '#projectList0 input.check', '#con_tab1');return false;});
            $('#unblockedProject0').click(function () {ajaxAction('{{path('extended_project_ajax')}}?tab=0', 'unblocked', '#projectList0 input.check', '#con_tab1');return false;});
            $('#deleteProject0').click(function () {ajaxActionConfirm('{{path('extended_project_ajax')}}?tab=0', 'delete', '#projectList0 input.check', '#con_tab1','Удалить выбранные мастерские?');return false;});
            $('input, button, a.button, select, textarea').uniform();
        </script>
