<h1>{{title}}</h1>
{% if recoveryStep == 0 %}
    {% if status == 'OK' %}
        <form action="?" method="post" class="col-md-6 col-md-offset-3 col-sm-12 form-horizontal">
            <p>{% if currentLocale == 'en' %}Enter E-mail for password recovery{% else %}Введите E-mail для восстановления пароля{% endif %}</p>

            <div class="form-group">
                <label class="col-sm-4 control-label">E-mail</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="E-mail" name="email" value="{{email}}" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">
                    {% if currentLocale == 'en' %}Enter text from the image{% else %}Введите строку с картинки{% endif %}
                    <br />
                    <img src="{{captchaPath}}" onclick="this.setAttribute('src', '{{captchaPath}}&rand=' + Math.floor(Math.random() * 2000000000));"/>
                </label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="{% if currentLocale == 'en' %}Enter text from the image{% else %}Введите строку с картинки{% endif %}" name="captcha" value="" />
                    {% if captchaError != '' %}<p class="form-error">{% if currentLocale == 'en' %}Field is not valid{% else %}Поле заполнено неверно{% endif %}</p>{% endif %}
                </div>
            </div>    
            <p class="text-center"><button class="btn btn-primary" type="submit">{% if currentLocale == 'en' %}Recover password{% else %}Восстановить пароль{% endif %}</button></p>
        </form>
    {% else %}
        <p>{% if currentLocale == 'en' %}An authorized user can not recover password{% else %}Авторизованный пользователь не может восстанавливать пароль{% endif %}</p>
    {% endif %}
{% endif %}
{% if recoveryStep == 1 %}
    <p>{% if currentLocale == 'en' %}Link and instructions to recover your password sent to the E-mail {{email}}{% else %}Ссылка и инструкция для восстановления пароля посланы на E-mail {{email}}{% endif %}</p>
{% endif %}        
{% if recoveryStep == 2 %}
    <form action="{{url}}" method="post" class="col-md-6 col-md-offset-3 col-sm-12 form-horizontal">
        <p>{% if currentLocale == 'en' %}Data are needed to change the password{% else %}Необходимы данные для изменения пароля{% endif %}</p>
        <div class="form-group">
            <label class="col-sm-4 control-label">{% if currentLocale == 'en' %}New password{% else %}Новый пароль{% endif %}</label>
            <div class="col-sm-8">
                <input type="password" class="form-control" placeholder="{% if currentLocale == 'en' %}New password{% else %}Новый пароль{% endif %}" name="password" value="" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">{% if currentLocale == 'en' %}Password repeat{% else %}Повторение пароля{% endif %}</label>
            <div class="col-sm-8">
                <input type="password" class="form-control" placeholder="{% if currentLocale == 'en' %}Password repeat{% else %}Повторение пароля{% endif %}" name="passwordRepeat" value="" />
                {% if passwordError == 'repeat' %}
                    <p class="form-error">{% if currentLocale == 'en' %}Passwords do not match{% else %}Пароли не совпадают{% endif %}</p>
                {% endif %}
                {% if passwordError == 'preg' %}
                    <p class="form-error">{% if currentLocale == 'en' %}Used forbidden characters{% else %}Использованы запрещённые символы{% endif %}</p>
                {% endif %}
            </div>
        </div>
        {% if captchaEnabled != 0 %}
            <div class="form-group">
                <label class="col-sm-4 control-label">
                    {% if currentLocale == 'en' %}Enter text from the image{% else %}Введите строку с картинки{% endif %}
                    <br />
                    <img src="{{captchaPath}}" onclick="this.setAttribute('src', '{{captchaPath}}&rand=' + Math.floor(Math.random() * 2000000000));"/>
                </label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="{% if currentLocale == 'en' %}Enter text from the image{% else %}Введите строку с картинки{% endif %}" name="captcha" value="" />
                    {% if captchaError != '' %}<p class="form-error">{% if currentLocale == 'en' %}Field is not valid{% else %}Поле заполнено неверно{% endif %}</p>{% endif %}
                </div>
            </div>    
        {% endif %}

        <p class="text-center"><button class="btn btn-primary" type="submit">{% if currentLocale == 'en' %}Change password{% else %}Изменить пароль{% endif %}</button></p>
    </form>
{% endif %}        
{% if recoveryStep == 3 %}
    {% if status == 'OK' %}
        {% if currentLocale == 'en' %}
            <p>Password successfully changed</p>
            <p>Your login information changed to the following</p>
            <p>login: {{user.login}}</p>
            <p>password: {{password}}</p>
        {% else %}
            <p>Пароль успешно изменён</p>
            <p>Ваши данные для входа изменены на следующие</p>
            <p>логин: {{user.login}}</p>
            <p>пароль: {{password}}</p>
        {% endif %}
    {% else %}
        <p>{% if currentLocale == 'en' %}Error! Incorrect link.{% else %}Ошибка! Некорректная ссылка.{% endif %}</p>
    {% endif %}
{% endif %}        
