<div>
<p>Логин {{login}}</p>
<p>E-mail {{email}}</p>
<p>Полное имя {{fullName}}</p>
<p>Тип {{userType}}</p>
<p>Заблокирован {{blocked}}</p>
<p>Дата регистрации {{regDate | date('d.m.Y')}}</p>
<p>Роль {{role}}</p>
</div>