<h1>{{title}}</h1>
{% if recoveryStep == 0 %}
    {% if status == 'OK' %}
    <form action="" method="GET">
        <p>Введите E-mail для восстановления пароля</p>
        <p>E-mail <input type="text" name="email" value="{{email}}" /></p>
        {% if captchaEnabled != 0 %}
        <p>
        Введите строку с картинки
        <img src="{{captchaPath}}" onclick="this.setAttribute('src', '{{captchaPath}}&rand='+Math.floor(Math.random() * 2000000000));"/>
        <input type="text" name="captcha" value="" />
        <small>{{captchaError}}</small>
        </p>
        {% endif %}
        <p><input type="submit" value="Ok" /></p>
    </form>
    {% else %}
        <p>Авторизованный пользователь не может восстанавливать пароль</p>
    {% endif %}
{% endif %}
{% if recoveryStep == 1 %}
        <p>Ссылка послана на E-mail {{email}}</p>
{% endif %}        
{% if recoveryStep == 2 %}
    <form action="{{url}}" method="POST">
        <p>Необходимы данные для изменения пароля</p>
        {% if allowPasswordType != 0 %}
            <p>Новый пароль: <input type="text" name="password" value="" /></p>
            <p>Повтор пароля: <input type="text" name="passwordRepeat" value="" /></p>
            {% if passwordError != '' %}
                <p>Ошибка:
                {% if passwordError == 'repeat' %}неправильно повторён пароль{% endif %}
                {% if passwordError == 'preg' %}использованы запрещённые символы{% endif %}
                </p>
            {% endif %}
        {% endif %}
        {% if captchaEnabled != 0 %}
        <p>
        Введите строку с картинки
        <img src="{{captchaPath}}" onclick="this.setAttribute('src', '{{captchaPath}}&rand='+Math.floor(Math.random() * 2000000000));"/>
        <input type="text" name="captcha" value="" />
        <small>{{captchaError}}</small>
        </p>
        {% endif %}
        <p><input type="submit" value="Ok" /></p>
    </form>
{% endif %}        
{% if recoveryStep == 3 %}
        {% if status == 'OK' %}
            <p>Пароль успешно изменён</p>
            <p>Ваши данные для входа</p>
            <p>Логин: {{user.login}}</p>
            <p>Пароль: {{password}}</p>
        {% else %}
            <p>Ошибка! Некорректная ссылка.</p>
        {% endif %}
{% endif %}        
