{% extends 'BasicCmsBundle:Default:layout.html.twig' %}
{% block mainmenu %}
    {% render "BasicCmsBundle:Default:menu" %}
{% endblock %}
{% block title %}Создание нового поля профиля пользователя{% endblock %}
{% block breadcrumbs %}
    <a href="{{path('basic_cms_index')}}" class="main">Главная</a>
    <a href="{{path('addone_profile_parameter_list')}}">Профиль пользователя</a>
    <span>Создание нового поля профиля пользователя</span>
{% endblock %}
{% block content %}
<div id="tabsButtons">
    <a href="#" onclick="return false;" id="tab1" class="active">Основные данные поля профиля</a>
</div>
<form action="{{path('addone_profile_parameter_create')}}" method="post">
<div id="tabsContent">
        <div id="con_tab1" class="active">
            <div class="saveButtons">
                <button type="submit">Сохранить</button>
                <a class="button" href="{{path('addone_profile_parameter_list')}}">Отмена</a>
            </div>
            <table class="cfgTable">
                <tr>
                    <td>Техническое имя<span class="helpContainerButton" data-id="name">?</span></td>
                    <td><input type="text" name="param[name]" value="{{param['name']}}" /></td>
                    <td class="cfgError">{{paramerror['name']}}</td>
                </tr>
                <tr>
                    <td>Описание<span class="helpContainerButton" data-id="description">?</span></td>
                    <td><input type="text" name="param[description][default]" value="{{param['description']['default']}}" /></td>
                    <td class="cfgError">{{paramerror['description']['default']}}</td>
                </tr>
                {% for local in locales %}
                <tr>
                    <td>Описание ({{local['fullName']}})</td>
                    <td><input type="text" name="param[description][{{local['shortName']}}]" value="{{param['description'][local['shortName']]}}" /></td>
                    <td class="cfgError">{{paramerror['description'][local['shortName']]}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td>Регулярное выражение<span class="helpContainerButton" data-id="regularExp">?</span></td>
                    <td><input type="text" name="param[regularExp]" value="{{param['regularExp']}}" /></td>
                    <td class="cfgError">{{paramerror['regularExp']}}</td>
                </tr>
            </table>
        </div>
</div>​
</form>
<div id="helpContainer">
    <div id="helpContainer-name">Задаёт машинное имя параметра. Машинное имя должно состоят из латинских букв, не должно повторятся среди всех параметров.</div>
    <div id="helpContainer-description">Задаёт человеко-понятное описание параметра.</div>
    <div id="helpContainer-regularExp">Регулярное выражение для проверки введенных данных от начала и до конца строки (в выражение уже включены строки /^ и $/ui). Если проверка не требуется, то заполните данное поле строкой <strong>[\s\S]*</strong></div>
</div>
{% endblock %}       



