{% if editMode is defined %}
    <h1>{{currentLocale == 'en' ? 'Edit settlement' : 'Редактирование поселения'}}</h1>
    {% if result == true %}
        <p class="alert alert-success">{% if currentLocale == 'en' %}Data saved successfully...{% else %}Данные успешно сохранены...{% endif %}</p>
        <p><a href="?">{% if currentLocale == 'en' %}Back to my settlements{% else %}Вернуться к моим поселениям{% endif %}</a></p>
    {% else %}
        <div class="row">
            <form action="?{{editMode}}" method="POST" enctype="multipart/form-data" class="col-md-6 col-md-offset-3 col-sm-12 form-horizontal">
                {% for locale in locales %}
                    <div class="form-group">
                        <label class="col-sm-4 control-label">{% if currentLocale == 'en' %}Title{% else %}Заголовок{% endif %} ({{locale['fullName']}})</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="title[{{locale['shortName']}}]" value="{{taxonomyLocales[locale['shortName']].title}}" />
                            <p class="form-error">{{errors['title_'~locale['shortName']] | default('')}}</p>
                        </div>
                    </div>
                {% endfor %}
                <div class="form-group">
                    <label class="col-sm-4 control-label">{% if currentLocale == 'en' %}Title{% else %}Заголовок{% endif %} (Русский)</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="title[default]" value="{{taxonomy.title}}" />
                        <p class="form-error">{{errors['title_default'] | default('')}}</p>
                    </div>
                </div>
                {% for locale in locales %}
                    <div class="form-group">
                        <label class="col-sm-4 control-label">{% if currentLocale == 'en' %}Description{% else %}Описание{% endif %} ({{locale['fullName']}})</label>
                        <div class="col-sm-8">
                            <textarea class="form-control addTinyMce" name="description[{{locale['shortName']}}]">{{taxonomyLocales[locale['shortName']].description}}</textarea>
                            <p class="form-error">{{errors['description_'~locale['shortName']] | default('')}}</p>
                        </div>
                    </div>
                {% endfor %}
                <div class="form-group">
                    <label class="col-sm-4 control-label">{% if currentLocale == 'en' %}Description{% else %}Описание{% endif %} (Русский)</label>
                    <div class="col-sm-8">
                        <textarea class="form-control addTinyMce" name="description[default]">{{taxonomy.description}}</textarea>
                        <p class="form-error">{{errors['description_default'] | default('')}}</p>
                    </div>
                </div>


                <p class="text-center"><button class="btn btn-primary" type="submit">{% if currentLocale == 'en' %}Submit{% else %}Отправить{% endif %}</button></p>
            </form>
        </div>
        <script>
            tinymce.init({
                selector: "textarea.addTinyMce",
                language: '{{currentLocale != '' ? currentLocale : 'ru'}}',
                height: 100,
                menubar: false,
                convert_urls: false,
                verify_html: true,
                plugins: [
                    "link"
                ],
                toolbar: "undo redo | bold italic forecolor backcolor | alignleft aligncenter alignright alignjustify | bullist numlist | link"
            });
        </script>
    {% endif %}
{% else %}    
    <h1>{{currentLocale == 'en' ? 'My settlements' : 'Мои поселения'}}</h1>
    <style>
        .myVillage {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
        }
        .myVillage p.title {
            color: #444;
            font-size: 20px;
        }
        .myVillage a {
            color: #aaa;
        }
        .myVillage a:hover {
            color: #000;
        }

        .myHouse {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
            margin: 5px 20px;
        }


    </style>
    <div class="myVillagesItems">
        {% for vilage in vilages %}
            <div class="myVillage">
                <p class="title">{{vilage['title']}}</p>
                <p>
                    <a href="?edit={{vilage['id']}}">{{currentLocale == 'en' ? 'Edit' : 'Редактировать'}}</a>
                    <a href="?edit=newhouse&parent={{vilage['id']}}">{{currentLocale == 'en' ? 'Create estate' : 'Создать поместье'}}</a>
                </p>
                {% for house in houses %}
                    {% if house['parent'] == vilage['id'] %}
                        <div class="myHouse">
                            <p class="title">{{house['title']}}</p>
                            <p>
                                <a href="?edit={{house['id']}}">{{currentLocale == 'en' ? 'Edit' : 'Редактировать'}}</a>
                            </p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
        <div><a href="?edit=newvilage">{{currentLocale == 'en' ? 'Create settlement' : 'Создать поселение'}}</a></div>
    </div>
{% endif %}
