<h1>Новое событие на сайте {{host}}</h1>
<p>На сайте произошло следующее событие:</p>
<p>{{text}}</p>
{% if referer != '' %}
    <p>Событие произошло на странице <a href="http://{{app.request.host}}{{referer}}">{{referer}}</a></p>
{% endif %}
{% if userurl != '' %}
    <p>Ссылка на профиль пользователя <a href="{{userurl}}">{{userurl}}</a></p>
{% endif %}
<p>Просмотреть изменения можно по <a href="{{url}}">ссылке</a></p>
