{% extends 'BasicCmsBundle:Default:layout.html.twig' %}
{% block mainmenu %}
    {% render "BasicCmsBundle:Default:menu" %}
{% endblock %}
{% block title %}Редактирование пользователя{% endblock %}
{% block breadcrumbs %}
    <a href="{{path('basic_cms_index')}}" class="main">Главная</a>
    <a href="{{path('basic_cms_user_list')}}">Пользователи</a>
    <span>Редактирование пользователя &laquo;{{user['fullName']}}&raquo;</span>
{% endblock %}
{% block content %}
<div id="tabsButtons">
    <a href="#" onclick="return false;" id="tab1" {% if (activetab == 1) %}class="active"{% endif %}>Основные данные</a>
    <a href="#" onclick="return false;" id="tab2" {% if (activetab == 2) %}class="active"{% endif %}>Страница</a>
    {% for tab in tabs %}
    {% if (tab.content != null) %}
    <a href="#" onclick="return false;" id="tab{{loop.index0+3}}" {% if (activetab == loop.index0+3) %}class="active"{% endif %}>{{tab.name}}</a>
    {% endif %}
    {% endfor %}
</div>
<form action="{{path('basic_cms_user_edit')}}?id={{id}}" method="post">
<div id="tabsContent">
        <div id="con_tab1" {% if (activetab == 1) %}class="active"{% endif %}>
            <div class="saveButtons">
                {% if ((app.user.checkAccess('user_editall') == 1) and (app.user.id != id)) or ((app.user.checkAccess('user_editown') == 1) and (app.user.id == id)) %}<button type="submit">Сохранить</button>{% endif %}
                {% if (app.user.checkAccess('user_list') == 1) %}<a class="button" href="{{path('basic_cms_user_list')}}">Отмена</a>{% endif %}
            </div>
            <table class="cfgTable">
                <tr>
                    <td>Логин<span class="helpContainerButton" data-id="login">?</span></td>
                    <td><input type="text" name="user[login]" value="{{user['login']}}" /></td>
                    <td class="cfgError">{{usererror['login']}}</td>
                </tr>
                <tr>
                    <td>Аватар<span class="helpContainerButton" data-id="avatar">?</span></td>
                    <td class="tac">
                        <input type="hidden" id="avatarInput" name="user[avatar]" value="{{user['avatar']}}" />
                        <span id="avatarWrap">
                            {% if (user['avatar'] == '') %}
                            <img src="/adminimg/noava.jpg" style="max-width:100px;max-height:100px;" />
                            {% else %}
                            <a href="{{user['avatar']}}" rel="lightbox"><img src="{{user['avatar']}}" style="max-width:100px;max-height:100px;" /></a>
                            {% endif %}
                        </span>
                        <br />
                        <a class="button" id="avatarLoad" onclick="return false;" href="#">Изменить</a>
                        <a class="button" onclick="avatarClear();return false;" href="#">Сброс</a>
                    </td>
                    <td class="cfgError" id="avatarError">{{usererror['avatar']}}</td>
                </tr>
                <tr>
                    <td>Пароль<span class="helpContainerButton" data-id="password">?</span></td>
                    <td><input type="password" name="user[password]" value="{{user['password']}}" /></td>
                    <td class="cfgError">{{usererror['password']}}</td>
                </tr>
                <tr>
                    <td>Повторение пароля</td>
                    <td><input type="password" name="user[passwordRepeat]" value="{{user['passwordRepeat']}}" /></td>
                    <td class="cfgError">{{usererror['passwordRepeat']}}</td>
                </tr>
                <tr>
                    <td>Электронная почта<span class="helpContainerButton" data-id="email">?</span></td>
                    <td><input type="text" name="user[email]" value="{{user['email']}}" /></td>
                    <td class="cfgError">{{usererror['email']}}</td>
                </tr>
                <tr>
                    <td>Имя пользователя<span class="helpContainerButton" data-id="fullName">?</span></td>
                    <td><input type="text" name="user[fullName]" value="{{user['fullName']}}" /></td>
                    <td class="cfgError">{{usererror['fullName']}}</td>
                </tr>
                <tr>
                    <td>Тип пользователя<span class="helpContainerButton" data-id="userType">?</span></td>
                    <td>
                        <select name="user[userType]">
                            <option value="SUPERADMIN" {% if (user['userType'] == 'SUPERADMIN') %}selected="selected"{% endif %}>Супер-администратор</option>
                            <option value="ADMIN" {% if (user['userType'] == 'ADMIN') %}selected="selected"{% endif %}>Администратор</option>
                            <option value="USER" {% if (user['userType'] == 'USER') %}selected="selected"{% endif %}>Пользователь</option>
                        </select>
                    </td>
                    <td class="cfgError">{{usererror['userType']}}</td>
                </tr>
                <tr>
                    <td>Блокировка<span class="helpContainerButton" data-id="blocked">?</span></td>
                    <td>
                        <select name="user[blocked]">
                            <option value="2" {% if (user['blocked'] == 2) %}selected="selected"{% endif %}>Разблокирован</option>
                            <option value="1" {% if (user['blocked'] == 1) %}selected="selected"{% endif %}>Заблокирован</option>
                            <option value="0" {% if (user['blocked'] == 0) %}selected="selected"{% endif %}>Ожидает подтверждения</option>
                        </select>
                    </td>
                    <td class="cfgError">{{usererror['blocked']}}</td>
                </tr>
                <tr>
                    <td>Роль пользователя<span class="helpContainerButton" data-id="role">?</span></td>
                    <td>
                        <select name="user[role]">
                            {% for role in roles %}
                                <option value="{{role['id']}}" {% if (user['role'] == role['id']) %}selected="selected"{% endif %}>{{role['name']}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td class="cfgError">{{usererror['role']}}</td>
                </tr>
            </table>
        </div>
        <div id="con_tab2" {% if (activetab == 2) %}class="active"{% endif %}>
            <div class="saveButtons">
                {% if ((app.user.checkAccess('user_editall') == 1) and (app.user.id != id)) or ((app.user.checkAccess('user_editown') == 1) and (app.user.id == id)) %}<button type="submit">Сохранить</button>{% endif %}
                {% if (app.user.checkAccess('user_list') == 1) %}<a class="button" href="{{path('basic_cms_user_list')}}">Отмена</a>{% endif %}
            </div>
            <table class="cfgTable">
                <tr>
                    <td colspan="2"><label><input type="checkbox" name="page[enable]" value="1" {% if (page['enable'] != 0) %}checked="checked"{% endif %} />Включить страницу просмотра</label><span class="helpContainerButton" data-id="seopageEnabled">?</span></td>
                    <td class="cfgError">{{pageerror['enable']}}</td>
                </tr>
                <tr>
                    <td>URL страницы<span class="helpContainerButton" data-id="seopageUrl">?</span></td>
                    <td><input type="text" name="page[url]" value="{{page['url']}}" /></td>
                    <td class="cfgError">{{pageerror['url']}}</td>
                </tr>
                <tr>
                    <td>Локаль страницы<span class="helpContainerButton" data-id="seopageLocale">?</span></td>
                    <td>
                        <select name="page[locale]">
                            <option value="" {% if (page['locale'] == '') %}selected="selected"{% endif %}>Для всех</option>
                            {% for locale in locales %}
                                <option value="{{locale['shortName']}}" {% if (page['locale'] == locale['shortName']) %}selected="selected"{% endif %}>{{locale['fullName']}} ({{locale['shortName']}})</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td class="cfgError">{{pageerror['locale']}}</td>
                </tr>
                <tr>
                    <td>Основной шаблон<span class="helpContainerButton" data-id="seopageLayout">?</span></td>
                    <td>
                        <select name="page[layout]">
                            <option value="" {% if (page['layout'] == '') %}selected="selected"{% endif %}>По умолчанию</option>
                            {% for layoutkey,layout in layouts %}
                                <option value="{{layoutkey}}" {% if (page['layout'] == layoutkey) %}selected="selected"{% endif %}>{{layout}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td class="cfgError">{{pageerror['layout']}}</td>
                </tr>
                <tr>
                    <td>Шаблон контента<span class="helpContainerButton" data-id="seopageTemplate">?</span></td>
                    <td>
                        <select name="page[template]">
                            <option value="" {% if (page['template'] == '') %}selected="selected"{% endif %}>По умолчанию</option>
                            {% for templatekey,template in templates %}
                                <option value="{{templatekey}}" {% if (page['template'] == templatekey) %}selected="selected"{% endif %}>{{template}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td class="cfgError">{{pageerror['template']}}</td>
                </tr>
            {% if (modules|length > 0) %}
                <tr>
                    <td>Включенные модули<span class="helpContainerButton" data-id="seopageModules">?</span></td>
                    <td>
                      {% for module in modules %}
                        <label><input type="checkbox" name="page[modules][]" value="{{module['id']}}" {% if (module['id'] in page['modules']) %}checked="checked"{% endif %} />{{module['name']}}</label><br />
                      {% endfor %}
                    </td>
                    <td class="cfgError">{{pageerror['modules']}}</td>
                </tr>
            {% endif %}
                <tr>
                    <td>Ограничение доступа к странице<span class="helpContainerButton" data-id="seopageAccess">?</span></td>
                    <td>
                        <select name="page[accessOn]" onchange="if ($(this).val() == 0) $('#accessRoleWrap').hide(); else $('#accessRoleWrap').show();">
                            <option value="0" {% if (page['accessOn'] == 0) %}selected="selected"{% endif %}>Доступна всем пользователям</option>
                            <option value="1" {% if (page['accessOn'] != 0) %}selected="selected"{% endif %}>Доступна следующим ролям</option>
                        </select>
                    </td>
                    <td class="cfgError">{{pageerror['accessOn']}}</td>
                </tr>
                <tr id="accessRoleWrap" {% if (page['accessOn'] == 0) %}style="display:none;"{% endif %}>
                    <td></td>
                    <td>
                        {% for role in roles %}
                            <label><input type="checkbox" name="page[access][]" value="{{role['id']}}" {% if (role['id'] in page['access']) %}checked="checked"{% endif %} />{{role['name']}}</label><br />
                        {% endfor %}
                    </td>
                    <td class="cfgError">{{pageerror['access']}}</td>
                </tr>
            </table>
        </div>
        {% for tab in tabs %}
        {% if (tab.content != null) %}
        <div id="con_tab{{loop.index0+3}}" {% if (activetab == loop.index0+3) %}class="active"{% endif %}>
            <div class="saveButtons">
                {% if ((app.user.checkAccess('user_editall') == 1) and (app.user.id != id)) or ((app.user.checkAccess('user_editown') == 1) and (app.user.id == id)) %}<button type="submit">Сохранить</button>{% endif %}
                {% if (app.user.checkAccess('user_list') == 1) %}<a class="button" href="{{path('basic_cms_user_list')}}">Отмена</a>{% endif %}
            </div>
            {{tab.content | raw}}
        </div>
        {% endif %}
        {% endfor %}
</div>​
</form>
<script>
function avatarClear()
{
    $('#avatarWrap').html('<img src="/adminimg/noava.jpg" style="max-width:100px;max-height:100px;" />');
    $('#avatarInput').val('');
    $('#avatarError').html('');
}
$(function () 
{
    new AjaxUpload('#avatarLoad', 
    {
        action: '{{path('basic_cms_user_ajaxavatar')}}',
        name: 'avatar',
        inputFilter: 'image/jpeg,image/png,image/gif',
        onSubmit: function(file, extension)
        {
            $('#preloader').show();
        },
        onComplete: function(file, response)
        {
            $('#preloader').hide();
            if (!response) response = "{file:'', error:'Ошибка загрузки файла'}";
            var answer = $.parseJSON(response);
            if(answer.file)
            {
                    $('#avatarWrap').html('<a href="'+answer.file+'" rel="lightbox"><img src="'+answer.file+'" style="max-height:100px;max-width:100px;" /></a>');
                    $('#avatarInput').val(answer.file);
                    $('#avatarError').html('');
            } else
            {
                    $('#avatarError').html(answer.error);
            }
        }
    });
});
</script>
<div id="helpContainer">
    <div id="helpContainer-login">Логин пользователя служит для авторизации на сайте. Должен содержать от 5 до 30 латинский букв, цифр или дефисов.</div>
    <div id="helpContainer-avatar">Аватар задаёт изображение пользователя на сайте.</div>
    <div id="helpContainer-password">Пароль пользователя служит для подтверждения личности при авторизации. Должен содержать от 5 до 30 латинский букв, цифр или дефисов.</div>
    <div id="helpContainer-email">Адрес электронной почты пользователя служит для возможной отправки писем, а также для подтверждения реальности существования пользователя при регистрации.</div>
    <div id="helpContainer-fullName">Задаёт человеко-понятное имя пользователя. Должно содержать от 3 до 99 разрешенных символов.</div>
    <div id="helpContainer-userType">Тип пользователя определяет доступ к административной части сайта. Тип СУПЕР-АДМИНИСТРАТОР имеет все возможные права в системе, вне зависимости от назначенной роли. Тип АДМИНИСТРАТОР имеет доступ к административной части сайта, его права определяются ролью. Тип ПОЛЬЗОВАТЕЛЬ не имеет доступ к административной части сайта.</div>
    <div id="helpContainer-blocked">Статус блокировки пользователя наряду с ролью определяет права пользователя. При статусе ЗАБЛОКИРОВАН или ОЖИДАЕТ ПОДТВЕРЖДЕНИЯ пользователь лишён прав роли.</div>
    <div id="helpContainer-role">Роль пользователя определяет список разрешенных действий и прав доступа к страницам сайта.</div>
    <div id="helpContainer-seopageEnabled">При включении создаёт отдельную страницу сайта для данного объекта.</div>
    <div id="helpContainer-seopageUrl">URL-адрес задаёт адрес страницы сайта. Указывается только часть после слеша (например указывается index.html, тогда как полный адрес страницы будет http://имя сайта.доменная зона/index.html). Должен содержать от 1 до 90 латинских букв, цифр и дефисов, и от 1 до 7 латинских букв или цифр после точки. Начинаться должен обязательно с буквы. Если оставить поле пустым, адрес присвоится автоматически.</div>
    <div id="helpContainer-seopageLocale">Позволяет ограничить доступ к странице определённым языковым группам (локалям). См. раздел руководства <a href="{{path('basic_cms_help')}}?page=basiccms3">Локализация</a>.</div>
    <div id="helpContainer-seopageLayout">Задаёт основной шаблон страницы сайта. См. раздел руководства <a href="{{path('basic_cms_help')}}?page=basiccms2">Страницы сайта и система шаблонов</a>.</div>
    <div id="helpContainer-seopageTemplate">Задаёт шаблон для контента. См. раздел руководства <a href="{{path('basic_cms_help')}}?page=basiccms2">Страницы сайта и система шаблонов</a>.</div>
    <div id="helpContainer-seopageModules">Задаёт список модулей, которые будут отображаться на странице сайта. См. раздел руководства <a href="{{path('basic_cms_help')}}?page=basiccms2">Страницы сайта и система шаблонов</a>.</div>
    <div id="helpContainer-seopageAccess">Позволяет ограничить доступ к странице пользователям с определёнными ролями.</div>
</div>
{% endblock %}       



