        {% if (app.user.checkAccess('user_profilepage') == 1) %}<a class="button" href="#" id="unblockedProf4">Включить</a>{% endif %}
        {% if (app.user.checkAccess('user_profilepage') == 1) %}<a class="button" href="#" id="blockedProf4">Выключить</a>{% endif %}
        {% if (app.user.checkAccess('user_profilepage') == 1) %}<a class="button" href="#" id="deleteProf4">Удалить выбранные</a>{% endif %}
        {% if (app.user.checkAccess('user_profilepage') == 1) %}<a href="{{path('basic_cms_user_profilepage_create')}}" class="button">Создать страницу изменения профиля</a>{% endif %}
        <table class="tableContent" id="profpageList4">
            <tr>
                <th><input type="checkbox" name="idall" value="1" onclick="checkAll(this)" /></th>
                <th>
                    Название
                </th>
                <th>
                    Включено
                </th>
                <th>
                    URL страницы
                </th>
            </tr>
            {% for profilepage in profilepages %}
            <tr>
                <td><input type="checkbox" name="check[{{profilepage.id}}]" class="check" value="1"></td>
                <td><a href="{{path('basic_cms_user_profilepage_edit')}}?id={{profilepage.id}}">{{profilepage.title}}</a>{% if (errors4[profilepage.id] is defined) %}<p class="error">{{errors4[profilepage.id]}}</p>{% endif %}</td>
                <td>{{(profilepage.enabled != 0 ? 'Да' : 'Нет')}}</td>
                <td>{{profilepage.url}}</td>
            </tr>
            {% endfor %}
        </table>
        <script type="text/javascript">
            $('#unblockedProf4').click(function () {ajaxAction('{{path('basic_cms_user_ajax')}}?tab=4', 'unblockedprof', '#profpageList4 input.check', '#con_tab5');return false;});
            $('#blockedProf4').click(function () {ajaxAction('{{path('basic_cms_user_ajax')}}?tab=4', 'blockedprof', '#profpageList4 input.check', '#con_tab5');return false;});
            $('#deleteProf4').click(function () {ajaxActionConfirm('{{path('basic_cms_user_ajax')}}?tab=4', 'deleteprof', '#profpageList4 input.check', '#con_tab5','Удалить выбранные страницы?');return false;});
            $('input, button, a.button, select, textarea').not('.uniformOff').uniform();
        </script>
