        {% if (app.user.checkAccess('form_editall') == 1) %}<a class="button" href="#" id="unblockedForm1">Включить</a>{% endif %}
        {% if (app.user.checkAccess('form_editall') == 1) %}<a class="button" href="#" id="blockedForm1">Выключить</a>{% endif %}
        {% if (app.user.checkAccess('form_editall') == 1) %}<a class="button" href="#" id="deleteLetters1">Удалить письма форм</a>{% endif %}
        {% if (app.user.checkAccess('form_editall') == 1) %}<a class="button" href="#" id="deleteForms1">Удалить выбранные формы</a>{% endif %}
        {% if (app.user.checkAccess('form_new') == 1) %}<a href="{{path('form_form_create')}}" class="button">Создать форму</a>{% endif %}
        <div class="goToRight">
        <form id="searchForm1">
            <input type="hidden" name="tab" value="1" />
            <input type="text" name="search1" value="{{search1}}" />
            <input type="submit" value="Найти" />
        </form>
        </div>
        <table class="tableContent" id="formList1">
            <tr>
                <th><input type="checkbox" name="idall" value="1" onclick="checkAll(this)" /></th>
                <th>
                    {% if (sort1 == 0) %}
                        <a href="?tab=1&sort1=1">Заголовок &#9650;</a>
                    {% else %}
                    {% if (sort1 == 1) %}
                        <a href="?tab=1&sort1=0">Заголовок &#9660;</a>
                    {% else %}
                        <a href="?tab=1&sort1=0">Заголовок</a>
                    {% endif%}
                    {% endif%}
                </th>
                <th>
                    {% if (sort1 == 2) %}
                        <a href="?tab=1&sort1=3">Включена &#9650;</a>
                    {% else %}
                    {% if (sort1 == 3) %}
                        <a href="?tab=1&sort1=2">Включена &#9660;</a>
                    {% else %}
                        <a href="?tab=1&sort1=2">Включена</a>
                    {% endif%}
                    {% endif%}
                </th>
                <th>
                    {% if (sort1 == 4) %}
                        <a href="?tab=1&sort1=5">Отправка на E-Mail &#9650;</a>
                    {% else %}
                    {% if (sort1 == 5) %}
                        <a href="?tab=1&sort1=4">Отправка на E-Mail &#9660;</a>
                    {% else %}
                        <a href="?tab=1&sort1=4">Отправка на E-Mail</a>
                    {% endif%}
                    {% endif%}
                </th>
                <th>
                    {% if (sort1 == 6) %}
                        <a href="?tab=0&sort1=7">Автор &#9650;</a>
                    {% else %}
                    {% if (sort1 == 7) %}
                        <a href="?tab=0&sort1=6">Автор &#9660;</a>
                    {% else %}
                        <a href="?tab=0&sort1=6">Автор</a>
                    {% endif%}
                    {% endif%}
                </th>
            </tr>
            {% for form in forms1 %}
            <tr>
                <td><input type="checkbox" name="check[{{form.id}}]" class="check" value="1"></td>
                <td><a href="{{path('form_form_edit')}}?id={{form.id}}">{{form.title}}</a>{% if (errors1[form.id] is defined) %}<p class="error">{{errors1[form.id]}}</p>{% endif %}</td>
                <td>{{form.enabled != 0 ? 'Да' : 'Нет'}}</td>
                <td>{{(form.sendEmail != 0 ? form.email : 'Выкл.')}}</td>
                <td>{{form.fullName}}</td>
            </tr>
            {% endfor %}
        </table>
        {% if (pagecount1 > 1) %}
            {% set to = page1 + 1 %}
            {% set from = page1 - 1 %}
            {% if (to >= pagecount1) %}
                {% set to = pagecount1 - 1 %}
            {% endif %}
            {% if (from < 0) %}
                {% set from = 0 %}
            {% endif %}
            {% if (from > 0) %}
                <a class="button" href="?tab=1&page1=0">1</a>
            {% endif %}
            {% if (from > 1) %}
                ...
            {% endif %}
            {% for i in from..to %}
                {% if i == page1 %}
                <input type="button" onclick="return false;" disabled="disabled" value="{{i+1}}" />
                {#<a class="button" href="#" onclick="return false;">[]</a>#}
                {% else %}
                <a class="button" href="?tab=1&page1={{i}}">{{i+1}}</a>
                {% endif %}
            {% endfor %}
            {% if (to < (pagecount1 - 2)) %}
            ...
            {% endif %}
            {% if (to < (pagecount1 - 1)) %}
                <a class="button" href="?tab=1&page1={{pagecount1 - 1}}">{{pagecount1}}</a>
            {% endif %}
        {% endif %}
        <script type="text/javascript">
            $('#unblockedForm1').click(function () {ajaxAction('{{path('form_form_ajax')}}?tab=1', 'unblocked', '#formList1 input.check', '#con_tab2');return false;});
            $('#blockedForm1').click(function () {ajaxAction('{{path('form_form_ajax')}}?tab=1', 'blocked', '#formList1 input.check', '#con_tab2');return false;});
            $('#deleteLetters1').click(function () {ajaxActionConfirm('{{path('form_form_ajax')}}?tab=1', 'deleteletters', '#formList1 input.check', '#con_tab2','Удалить письма выбранных форм?');return false;});
            $('#deleteForms1').click(function () {ajaxActionConfirm('{{path('form_form_ajax')}}?tab=1', 'delete', '#formList1 input.check', '#con_tab2','Удалить выбранные формы?');return false;});
            $('input, button, a.button, select, textarea').not('.uniformOff').uniform();
        </script>
